*{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; /*características de google fonts que se aplican a todo la pagina*/
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
}

/*TAMAÑO CELULAR*/


body{
  margin: 0%;
  padding: 0%;
}

*{
  box-sizing: border-box;
}

header{
  height: 30vh;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: url("../imagenes/martillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

.logo{
  display: none;
}

nav{
  display: none;
}

.titulo{
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

h1{
  color: white;
}

.hamburguesa{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.hamburguesa i{
  color: white;
  font-size: 2em;
  align-self: center;
}

main{
  background-color: rgb(100, 30, 22,0.7);
}

main .banner{
   display: none;
 }

 .tituloBanner{
   display: none;
 }

 .carousel{
   display: none;
 }


h2{
  text-align: center;
}
p{
  font-weight: bolder;
  text-align: center;
}

address{
  font-weight: bolder;
  text-align: center;
}

.seccion2{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.redes{
  margin-top: 25px;
  margin-right: 25px;
}

.faceig{

height: 35px;
width: 35px;
border-radius: 30%;
}

footer{
  width: 100%;
  height: 15vh;
  background-image:url("../imagenes/madera.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.redes{
  margin-top: 25px;
  margin-right: 25px;
}

.faceig{
  height: 35px;
  width: 35px;
  border-radius: 30%;
 }

/*TAMAÑO TABLET*/

/*TAMAÑO TABLET*/

@media (min-width: 768px) {

 header {
  height: 20vh;
   justify-content: flex-end;
 }

 /*header .titulo {
  display: none;
 }*/

 header .hamburguesa{
  justify-content: flex-start;
 }

 .logo{
  display: none;
 }

 nav{
  display: none;
 }
}

/*TAMAÑO PC*/
@media (min-width: 1020px) {

  header .logo{
    display: flex;
    width: 30%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
  }

  .logo img{
    width: 60%;
    height: 90%;
    border-radius: 20%;
    opacity: 0.6;
  }

  .hamburguesa{
    display: none;
  }

  .titulo{
    display: none;
  }

  nav{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: flex-end;
    padding-top: 50px;
   }

  nav .pestaña{
    width: 33%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
  }

  nav .pestaña a{
    text-decoration: none;
    color:white;
  }
}
