*{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; /*características de google fonts que se aplican a todo la pagina*/
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0%;
  padding: 0%;
}

/*TAMAÑO CELULAR*/

header{
  height: 30vh;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: url("../imagenes/martillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

.logo{
  display: none;
}

nav{
  display: none;
}

.titulo{
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

h1{
  color: white;
}

.hamburguesa{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.hamburguesa i{
  color: white;
  font-size: 2em;
  align-self: center;
}

main{
  background-color: rgb(100, 30, 22,0.7);
}

.area_reg{
  display: none;
}

.AdE{
  width: 100%;
  height: 9vh;
  background-image:url("../imagenes/madera.jpg");
}

.AdE h3{
  padding-top: 10px;
  text-align: center;
  color: white;
}

.seccion4{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.a_ej{
  width: 100%;
  height: 33%;
  border-bottom: 3px solid white;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
}

.imagenes{
  display: none;
}

.tit_lista{
 padding-left: 20px;
}

.seccion4 h4{
  text-decoration: underline;
  color: white;
}

.seccion4 li{
  color: rgb(212, 172, 13);
}

footer{
  width: 100%;
  height: 15vh;
  background-image:url("../imagenes/madera.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.redes{
  margin-top: 25px;
  margin-right: 25px;
}

.faceig{
  height: 35px;
  width: 35px;
  border-radius: 30%;
 }

/*TAMAÑO TABLET*/

 @media (min-width: 768px) {

  header {
    height: 20vh;
    justify-content: flex-end;
  }

   header .hamburguesa{
    justify-content: flex-start;
 }

  .logo{
    display: none;
  }

  nav{
   display: none;
  }

  .imagenes{
    display: flex;
    padding-left: 20px;
    align-self: center;
  }

   .img{
    height: 120px;
    width: 120px;
    border-radius: 30%;
    border: 5px solid black;
  }

   .tit_lista{
    padding-left: 40px;
  }
 }

  /*TAMAÑO PC*/

  @media (min-width: 1020px) {

    header .logo{
      display: flex;
      width: 30%;
      height: 100%;
      padding-left: 10px;
      padding-top: 10px;
    }

    .logo img{
      width: 60%;
      height: 90%;
      border-radius: 20%;
      opacity: 0.6;
    }

    .hamburguesa{
      display: none;
    }

    .titulo{
      display: none;
    }

    nav{
      display: flex;
      width: 70%;
      height: 100%;
      justify-content: flex-end;
      padding-top: 50px;
     }

    nav .pestaña{
      width: 33%;
      height: 100%;
      text-align: center;
      padding-top: 15px;
    }

    nav .pestaña a{
      text-decoration: none;
      color:white;
    }

    .seccion4{
     justify-content: center;
    }

     .a_ej{
       width: 48%;
       height: 32vh;
       padding-top: 10px;
       padding-bottom: 5px;
     }

     .imagenes{
       padding-left: 10px;
       align-self: center;
     }

     .img{
       height: 130px;
       width: 130px;
    }

     .tit_lista{
      padding-left: 40px;
     }
   }
