*{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; /*características de google fonts que se aplican a todo la pagina*/
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0%;
  padding: 0%;
}

/*TAMAÑO CELULAR*/

header{
  height: 30vh;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: url("../imagenes/martillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

.logo{
  display: none;
}

.container-fluid{
  padding-top: 40px;
}

.titulo{
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

h1{
  color: white;
}

main{
  background-color: rgb(100, 30, 22,0.7);
}

main .banner{
  display: none;
}

.tituloBanner{
  display: none;
}

.carousel{
  display: none;
}

.seccion2{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seccion2 p{
  text-align: justify;
  padding: 30px;
  color: rgb(212, 172, 13);
}

.area_reg{
  display: none;
}

.titulo_Aejercicio{
  width: 100%;
  height: 9vh;
  background-image:url("../imagenes/madera.jpg");
}

.titulo_Aejercicio h3{
  padding-top: 10px;
  text-align: center;
  color: white;
}

.seccion4{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.a_ej{
  width: 100%;
  height: 33%;
  border-bottom: 3px solid white;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
}

.imagenes{
  display: none;
}

.tit_lista{
 padding-left: 20px;
}

.seccion4 h4{
  text-decoration: underline;
  color: white;
}

.seccion4 li{
  color: rgb(212, 172, 13);
}

footer{
  width: 100%;
  height: 15vh;
  background-image:url("../imagenes/madera.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.redes{
  margin-top: 25px;
  margin-right: 25px;
}

.faceig{
  height: 35px;
  width: 35px;
  border-radius: 30%;
 }

  /*TAMAÑO TABLET*/

@media (min-width: 768px) {

  header {
    height: 20vh;
    justify-content: flex-end;
    padding-right: 90px;
  }

  header .titulo {
   display: none;
 }

  .logo{
    display: none;
  }

  main .banner{
    display: flex;
    width: 100%;
    height: 70vh;
    padding-top: 20px;
  }

  .bannerimg{
    width: 100%;
    height: 100%;
    border-bottom: 5px solid white;
  }

  .banner img{
    width: 100%;
    height: 100% ;
  }

 .tituloBanner{
   width: 70%;
   z-index: 2;
   position: absolute;
   top:45%;
   left:6%;
   font-size: 20px;
   display: block;
  }

  .tituloBanner h1{
    color: black;
    font-size: 2em;
  }

  .carousel{
    display: none;
  }

  .seccion2{
    height: 27vh;
  }

  .area_reg{
    margin-top: 15px;
    margin-bottom: 15PX;
    width: 50%;
    height: 31vh;
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    background-color: rgb(100, 30, 22);
    margin-left: 200px; /*lo centré de esta manera porque no pude hacerlo diferente*/
  }

  .reg{
    display: flex;
    flex-direction: column;
 }

 .usuario{
   font-size: x-small;
   display: flex;
   flex-direction: column;
 }

  .reg label{
    align-self: center;
     padding-top: 10px;
     color: white;
  }

 .reg input{
    width: 60%;
    align-self: center;
  }

  .butt{
    align-self: center;
    padding-top: 10px;
 }

 .butt button{
   font-size: 10px;
   font-weight: bold;
 }

 .registrarse{
   font-size: x-small;
   align-self: center;
   padding-top: 10px;
 }

 .imagenes{
   display: flex;
   padding-left: 20px;
   align-self: center;
 }

  .img{
   height: 120px;
   width: 120px;
   border-radius: 30%;
   border: 5px solid black;
 }

  .tit_lista{
   padding-left: 40px;
 }
}

  /*TAMAÑO PC*/

@media (min-width: 1020px) {

  header{
    display: flex;
    justify-content: space-between;
  }

  header .logo{
    display: flex;
    width: 30%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
  }

  .logo img{
    width: 60%;
    height: 90%;
    border-radius: 20%;
    opacity: 0.6;
  }

  .titulo{
    display: none;
  }

  main .banner{
    display: none;
  }

  .tituloBanner{
    display: none;
  }

  .carousel{
    display:flex;
    justify-content: center;
  }

  .slide{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 98%;
  }

  .slide img{
    height: 80vh;
  }

  .seccion2{
    height: 20vh;
  }

  .area_reg{
    margin-left: 280px; /*lo centré de esta manera porque no pude hacerlo diferente*/
  }

 .seccion4{
  justify-content: center;
 }

  .a_ej{
    width: 48%;
    height: 32vh;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .imagenes{
    padding-left: 10px;
    align-self: center;
  }

  .img{
    height: 130px;
    width: 130px;
 }

  .tit_lista{
   padding-left: 40px;
  }
}
