*{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; /*características de google fonts que se aplican a todo la pagina*/
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0%;
  padding: 0%;
}

/*TAMAÑO CELULAR*/

header{
  height: 30vh;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: url("../imagenes/martillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

.logo{
  display: none;
}

.container-fluid{
  padding-top: 40px;
}

.titulo{
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

h1{
  color: white;
}

main{
  background-color: rgb(100, 30, 22,0.7);
  height: 130vh;
  width: 100%;
}

.section1{
  width: 100%;
  height: 7  0vh;
  padding: 30px;
  display: flex;
}

p{
 text-align: justify;
 font-weight: bolder;
 font-size: large;
 line-height: 20px;
 padding-top: 14px;
}

.section2{
  height:50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section2 img{
  height: 70%;
  width: 70%;
}

footer{
 width: 100%;
 height: 15vh;
 background-image:url("../imagenes/madera.jpg");
 border-radius: 10px;
 display: flex;
 flex-direction: row-reverse;
}

.redes{
  margin-top: 25px;
 margin-right: 25px;
}

.faceig{
  height: 35px;
 width: 35px;
 border-radius: 30%;
}

/*TAMAÑO TABLET*/

@media (min-width: 768px) {

  header {
    height: 20vh;
    justify-content: flex-end;
    padding-right: 90px;
  }

  header .titulo {
   display: none;
 }

  .logo{
    display: none;
  }

  .section1{
    height: 40vh;
  }

  .section2{
    height: 60vh;
  }

  .section2 img{
    height: 90%;
    width: 80%;
  }

}

  /*TAMAÑO PC*/

  @media (min-width: 1020px) {

  header{
    display: flex;
    justify-content: space-between;
  }

  header .logo{
    display: flex;
    width: 30%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
  }

  .logo img{
    width: 60%;
    height: 90%;
    border-radius: 20%;
    opacity: 0.6;
  }

  .titulo{
    display: none;
  }

  .section2 img{
    height: 100%;
    width: 90%;
  }
}
