<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <script src="https://kit.fontawesome.com/61bad358c3.js" crossorigin="anonymous"></script> <!--Etiqueta para icono menú hamburguesa-->
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://kit.fontawesome.com/61bad358c3.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" href="../CSS/estilos.css">
      <link rel="preconnect" href="https://fonts.gstatic.com"> <!--links para google fonts-->
      <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;1,500&family=Noto+Serif:wght@700&family=Poppins&display=swap" rel="stylesheet">
      <title>Estudio_Parodi</title>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <script src="../js/main.js" type="text/javascript">

    </script>

    <header>
       <div class="logo">
          <img src="../imagenes/logo2.png" alt="logo">
       </div>

       <div class="titulo">
         <h1>Estudio Parodi</h1>
       </div>

      <div class="navegacion">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
             <a class="navbar-brand" href="#"></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                   <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index3_AreasDeEjercicio.html">Áreas de Ejercicio</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index3_QuienesSomos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index2Contacto.html">Contacto</a>
                  </li>
               </ul>
             </div>
         </div>
       </nav>
      </div>
    </header>

    <main>
      <section class="banner">
        <div class="bannerimg">
          <img src="../imagenes/bannerlibros.jpg" alt="banner estudio">
        </div>
        <div class="tituloBanner">
          <h1>Estudio Parodi</h1>
        </div>
      </section>

      <section class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"></li>
          </ol>

         <div class="carousel-inner">
           <div class="carousel-item active">
             <img src="../imagenes/slider1.png" class="d-block w-100" alt="slider1">
             <div class="carousel-caption d-none d-md-block">
               <!--<h5>First slide label</h5>
               <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider2.png" class="d-block w-100" alt="slider2">
            <div class="carousel-caption d-none d-md-block">
              <!--<h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            </div>
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider3.png" class="d-block w-100" alt="slider3">
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider4.png" class="d-block w-100" alt="slider4">
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider5.png" class="d-block w-100" alt="slider5">
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider6.png" class="d-block w-100" alt="slider6">
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider7.png" class="d-block w-100" alt="slider7">
          </div>

          <div class="carousel-item">
            <img src="../imagenes/slider8.png" class="d-block w-100" alt="slider8">
          </div>
         </div>

         <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </a>

         <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </a>
       </div>
      </section>

      <section class="seccion2">
        <p class="texto">Especialistas en brindar asesoramiento jurídico integral y personalizado, de acuerdo a las necesidades de nuestros clientes.
          Comuníquese con nosotros, un miembro de nuestro Staff Jurídico escuchará sus inquietudes y le brindará las herramientas necesarias para arribar a la solución de sus controversias, ya sea de manera extrajudicial o judicialmente.
          Potenciamos el crecimiento y desarrollo de nuestros clientes.
        </p>
      </section>

      <section class="area_reg">
        <div class="reg">
          <div class="usuario">
            <label class="labelImput"for="">Usuario</label>
            <input type="text" name="" value="">
            <label class="labelImput" for="">Contraseña</label>
            <input type="password" name="" value="">
          </div>

          <div class="butt">
            <a href="../layouts/potreroDigital_proyecto_grupo16_index4_Bienvenido.html">
              <button type="button" class="btn btn-secondary">Ingresar</button>
            </a>
          </div>
            <a class="registrarse" href="../layouts/potreroDigital_proyecto_grupo16_index5_registrarse.html">Registrarse</a>
         </div>
      </section>

      <section class="titulo_Aejercicio">
        <h3 id="areas_ejercicio">Áreas de ejercicio:</h3>
      </section>

      <section class="seccion4">
        <div class="a_ej">
          <div class="imagenes">
             <img class="img" src="../imagenes/fliasilueta.jpg" alt="imagen familia">
          </div>
          <div class="tit_lista">
              <h4>Derecho de familia:</h4>
              <ul>
                 <li>Divorcios</li>
                 <li>Cuotas alimentarias</li>
                 <li>Régimen de comunicación</li>
                 <li>convenios y mediaciones</li>
                 <li>etc.</li>
              </ul>
          </div>
         </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/choque2.jpg" alt="imagen choque">
          </div>
          <div class="tit_lista">
            <h4>Accidentes de tránsito:</h4>
            <ul>
              <li>Asesoramiento permanente en caso de accidentes de tránsito</li>
              <li>Gestiones extrajudiciales ante Compañias de Seguro</li>
              <li>Tramitación de demandas judiciales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/laboral.jpg" alt="laboral">
          </div>
          <div class="tit_lista">
            <h4>Derecho Laboral:</h4>
            <ul>
              <li>Acuerdos espontáneos</li>
              <li>Conciliaciones laborales</li>
              <li>Demandas laborales</li>
              <li>Accidentes y enfermedades laborales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/daños_herido.jpg" alt="daños">
          </div>
          <div class="tit_lista">
            <h4>Daños resarcibles:</h4>
            <ul>
              <li>Reclamo de daños sufridos por diversas causas</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/redaccion_contrato.jpg" alt="contrato">
          </div>
          <div class="tit_lista">
            <h4>Redacción de Contratos:</h4>
            <ul>
              <li>Negociación</li>
              <li>Redacción</li>
              <li>Ejecución de contratos civiles y comerciales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/sucesiones.jpg" alt="sucesiones">
          </div>
          <div class="tit_lista">
            <h4>Sucesiones:</h4>
            <ul>
              <li>Testamentos</li>
              <li>Intestada</li>
              <li>Adelantos de herencia</li>
              <li>etc.</li>
            </ul>
          </div>
       </div>
     </section>
    </main>

    <footer>
      <div class="redes">
         <a href="https://www.facebook.com/adp.estudioparodi">
           <img class="faceig" src="../imagenes/facebook.jpg" alt="facebook">
         </a>
      </div>
      <div class="redes">
         <a href="https://www.instagram.com/estudio.parodi/">
           <img class="faceig"src="../imagenes/ig.jpg" alt="facebook">
         </a>
      </div>
    </footer>
  </body>
</html>
