<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/estilosAreaEjercicio.css">
    <title>Áreas de Ejercicio</title>
  </head>
  <body>

    <header>
      <div class="logo">
        <a href="../layouts/potreroDigital_proyecto_grupo16_index.html">
          <img class="imglogo" src="../imagenes/logo2.jpeg" alt="logo" width="150vw" height="125vh">
        </a>
      </div>

     <nav>
        <div class="pestaña" >
          <a href="#areas_ejercicio"> Áreas de ejercicio </a>
        </div>
        <div class="pestaña">
          <a href="">Quienes Somos</a>
        </div>
        <div class="pestaña">
          <a href="../layouts/potreroDigital_proyecto_grupo16_index2Contacto.html">Contacto</a>
        </div>
     </nav>
   </header>

    <main>
      <section class="AdE">
        <h3 id="areas_ejercicio">Áreas de ejercicio:</h3>
      </section>
      <section class="section2">

        <div class="a_ej">
           <div class="imagenes">
             <img class="img" src="../imagenes/fliasilueta.jpg" alt="imagen familia">
          </div>
          <h4>Derecho de familia:</h4>
          <ul>
            <li>Divorcios</li>
            <li>Cuotas alimentarias</li>
            <li>Régimen de comunicación</li>
            <li>convenios y mediaciones</li>
            <li>etc.</li>
          </ul>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/choque2.jpg" alt="imagen choque">
          </div>
          <h4>Accidentes de tránsito:</h4>
          <ul>
            <li>Asesoramiento permanente en caso de accidentes de tránsito</li>
            <li>Gestiones extrajudiciales ante Compañias de Seguro</li>
            <li>Tramitación de demandas judiciales</li>
          </ul>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/laboral.jpg" alt="laboral">
          </div>
          <h4>Derecho Laboral:</h4>
          <ul>
            <li>Acuerdos espontáneos</li>
            <li>Conciliaciones laborales</li>
            <li>Demandas laborales</li>
            <li>Accidentes y enfermedades laborales</li>
          </ul>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/daños_herido.jpg" alt="daños">
          </div>
          <h4>Daños resarcibles:</h4>
          <ul>
            <li>Reclamo de daños sufridos por diversas causas</li>
          </ul>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/redaccion_contrato.jpg" alt="contrato">
          </div>
          <h4>Redacción de Contratos:</h4>
          <ul>
            <li>Negociación</li>
            <li>Redacción</li>
            <li>Ejecución de contratos civiles y comerciales</li>
          </ul>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/sucesiones.jpg" alt="sucesiones">
          </div>
          <h4>Sucesiones:</h4>
          <ul>
            <li>Testamentos</li>
            <li>Intestada</li>
            <li>Adelantos de herencia</li>
            <li>etc.</li>
          </ul>
        </div>
      </section>
    </main>

    <footer>
      <div class="redes">
        <a href="https://www.facebook.com/adp.estudioparodi">
          <img class="faceig" src="../imagenes/facebook.jpg" alt="facebook">
        </a>
      </div>
      <div class="redes">
        <a href="https://www.instagram.com/estudio.parodi/">
          <img class="faceig"src="../imagenes/ig.jpg" alt="facebook">
        </a>
      </div>
    </footer>
  </body>
</html>
