<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <script src="https://kit.fontawesome.com/61bad358c3.js" crossorigin="anonymous"></script> <!--Etiqueta para icono menú hamburguesa-->
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://kit.fontawesome.com/61bad358c3.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" href="../CSS/estilosAreaEjercicio.css">
      <link rel="preconnect" href="https://fonts.gstatic.com"> <!--links para google fonts-->
      <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;1,500&family=Noto+Serif:wght@700&family=Poppins&display=swap" rel="stylesheet">
      <title>Estudio_Parodi</title>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

    <header>
       <div class="logo">
          <img src="../imagenes/logo2.png" alt="logo">
       </div>

       <div class="titulo">
         <h1>Estudio Parodi</h1>
       </div>

      <div class="navegacion">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
             <a class="navbar-brand" href="#"></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                   <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index3_AreasDeEjercicio.html">Áreas de Ejercicio</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index3_QuienesSomos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="potreroDigital_proyecto_grupo16_index2Contacto.html">Contacto</a>
                  </li>
               </ul>
             </div>
         </div>
       </nav>
      </div>
    </header>

    <main>
      <section class="AdE">
        <h3 id="areas_ejercicio">Áreas de ejercicio:</h3>
      </section>

      <section class="seccion4">
        <div class="a_ej">
          <div class="imagenes">
             <img class="img" src="../imagenes/fliasilueta.jpg" alt="imagen familia">
          </div>
          <div class="tit_lista">
              <h4>Derecho de familia:</h4>
              <ul>
                 <li>Divorcios</li>
                 <li>Cuotas alimentarias</li>
                 <li>Régimen de comunicación</li>
                 <li>convenios y mediaciones</li>
                 <li>etc.</li>
              </ul>
          </div>
         </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/choque2.jpg" alt="imagen choque">
          </div>
          <div class="tit_lista">
            <h4>Accidentes de tránsito:</h4>
            <ul>
              <li>Asesoramiento permanente en caso de accidentes de tránsito</li>
              <li>Gestiones extrajudiciales ante Compañias de Seguro</li>
              <li>Tramitación de demandas judiciales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/laboral.jpg" alt="laboral">
          </div>
          <div class="tit_lista">
            <h4>Derecho Laboral:</h4>
            <ul>
              <li>Acuerdos espontáneos</li>
              <li>Conciliaciones laborales</li>
              <li>Demandas laborales</li>
              <li>Accidentes y enfermedades laborales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/daños_herido.jpg" alt="daños">
          </div>
          <div class="tit_lista">
            <h4>Daños resarcibles:</h4>
            <ul>
              <li>Reclamo de daños sufridos por diversas causas</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/redaccion_contrato.jpg" alt="contrato">
          </div>
          <div class="tit_lista">
            <h4>Redacción de Contratos:</h4>
            <ul>
              <li>Negociación</li>
              <li>Redacción</li>
              <li>Ejecución de contratos civiles y comerciales</li>
            </ul>
          </div>
        </div>

        <div class="a_ej">
          <div class="imagenes">
            <img class="img" src="../imagenes/sucesiones.jpg" alt="sucesiones">
          </div>
          <div class="tit_lista">
            <h4>Sucesiones:</h4>
            <ul>
              <li>Testamentos</li>
              <li>Intestada</li>
              <li>Adelantos de herencia</li>
              <li>etc.</li>
            </ul>
          </div>
       </div>
     </section>
    </main>

    <footer>
      <div class="redes">
        <a href="https://www.facebook.com/adp.estudioparodi">
          <img class="faceig" src="../imagenes/facebook.jpg" alt="facebook">
        </a>
      </div>
      <div class="redes">
        <a href="https://www.instagram.com/estudio.parodi/">
          <img class="faceig"src="../imagenes/ig.jpg" alt="facebook">
        </a>
      </div>
    </footer>
  </body>
</html>
