<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/estilosQuienesSomos.css">
    <title>Quienes somos</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../layouts/potreroDigital_proyecto_grupo16_index.html">
          <img class="imglogo" src="../imagenes/logo2.jpeg" alt="logo" width="150vw" height="125vh">
        </a>
      </div>

     <nav>
        <div class="pestaña" >
          <a href="../layouts/potreroDigital_proyecto_grupo16_index3_AreasDeEjercicio.html"> Áreas de ejercicio </a>
        </div>
        <div class="pestaña">
          <a href="">Quienes Somos</a>
        </div>
        <div class="pestaña">
          <a href="../layouts/potreroDigital_proyecto_grupo16_index2Contacto.html">Contacto</a>
        </div>
     </nav>
   </header>

    <main>
      <section class="section1">
        <p>Somos un grupo de abogados comprometidos con nuestros clientes, ejercemos escucha activa de sus necesidades a fin de dar respuesta acabada a sus pretensiones.
          <br>
          Nos especializamos en temáticas atinentes al Derecho de Familia, Sucesiones, Daños y Perjuicios brindando una solución integral a los problemas planteados.
          <br>
          Contamos con un equipo staff de abogados en permanente perfeccionamiento y actualización para proporcionar estrategias innovadoras en la resolución de controversias.
          <br>
          No dude en ponerse ponerse en contacto con nosotros, déjenos su consulta y a la brevedad nos pondremos en contacto.
        </p>
      </section>

      <section class="section2">
        <img class="jcia" src="../imagenes/justicia.jpg" alt="justicia">
      </section>
    </main>

    <footer>
      <div class="redes">
        <a href="https://www.facebook.com/adp.estudioparodi">
          <img class="faceig" src="../imagenes/facebook.jpg" alt="facebook">
        </a>
      </div>
      <div class="redes">
        <a href="https://www.instagram.com/estudio.parodi/">
          <img class="faceig"src="../imagenes/ig.jpg" alt="facebook">
        </a>
      </div>
    </footer>

  </body>
</html>
